<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Layout</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="d-line">

    </div>
    <div class="header">
        <ul class="menuitem">
            <li>Sector
                <ul class="sub-category">
                    <li>Corporate Institutions</li>
                    <li>Educational Institutions</li>
                    <li>Apartment and Colonies</li>
                    <li>Factories and Bulk</li>
                    <li>Hotels and Restaurants</li>
                    <li>Households</li>
                </ul>
            </li>
            <li>Services
                <ul class="sub-category">
                    <li>Shredding</li>
                    <li>Composting</li>
                    <li>E-Waste</li>
                    <li>Tatwa</li>
                    <li>Tours and Workshops</li>
                    <li>Sikaru Saathi</li>
                </ul>
            </li>
            <li>E-Waste</li>
            <li>About
                <ul class="sub-category">
                    <li>About Us</li>
                    <li>FAQ</li>
                    <li>Contact</li>
                </ul>
            </li>
            <li class="img-rec" style="padding-top: 11px;">
                <img src="https://dokorecyclers.com/images/doko%20logo_8x8.png" alt="" width="150px" height="80px" >
            </li>
            <li>Learn</li>
            <li>Blog</li>
            <li>Price</li>
            <li>Contact</li>
            <li>Login/Sign Up</li>
        </ul>
    </div>
</body>

</html>